# roles/install_k3s_agents/tasks/main.yml
---
- name: Allow K3s Flannel VXLAN traffic through firewall
  community.general.ufw:
    rule: allow
    port: "8472"
    proto: udp
    comment: "K3s Flannel VXLAN"
  when: ansible_facts['distribution'] == 'Ubuntu'
  register: install_k3s_agents_ufw_flannel_result
  failed_when: >
    install_k3s_agents_ufw_flannel_result.failed and
    'Could not find' not in
    install_k3s_agents_ufw_flannel_result.msg | default('')

- name: Allow K3s API server access from cluster network
  community.general.ufw:
    rule: allow
    port: "6443"
    proto: tcp
    src: "192.168.87.0/24"
    comment: "K3s API server"
  when: ansible_facts['distribution'] == 'Ubuntu'
  register: install_k3s_agents_ufw_api_result
  failed_when: >
    install_k3s_agents_ufw_api_result.failed and
    'Could not find' not in
    install_k3s_agents_ufw_api_result.msg | default('')

- name: Allow K3s kubelet API access from cluster network
  community.general.ufw:
    rule: allow
    port: "10250"
    proto: tcp
    src: "192.168.87.0/24"
    comment: "K3s kubelet"
  when: ansible_facts['distribution'] == 'Ubuntu'
  register: install_k3s_agents_ufw_kubelet_result
  failed_when: >
    install_k3s_agents_ufw_kubelet_result.failed and
    'Could not find' not in
    install_k3s_agents_ufw_kubelet_result.msg | default('')

- name: Create k3s config directory
  ansible.builtin.file:
    path: /etc/rancher/k3s
    state: directory
    mode: "0755"

- name: Create custom resolv.conf for k3s
  ansible.builtin.copy:
    dest: /etc/rancher/k3s/resolv.conf
    content: |
      nameserver 192.168.87.1
      search cluster.local svc.cluster.local
      options ndots:5
    mode: "0644"

- name: Create k3s agent configuration file
  ansible.builtin.copy:
    dest: /etc/rancher/k3s/config.yaml
    content: |
      node-ip: "{{ ansible_host }}"
      flannel-iface: "{{ ansible_default_ipv4.interface }}"
      kubelet-arg:
        - "resolv-conf=/etc/rancher/k3s/resolv.conf"
    mode: "0644"

- name: Download k3s install script
  ansible.builtin.get_url:
    url: https://get.k3s.io
    dest: /tmp/k3s_install.sh
    mode: "0755"

- name: Copy k3s token from server to worker
  ansible.builtin.fetch:
    src: /tmp/k3s_token
    dest: /tmp/k3s_token
    flat: true
  delegate_to: "{{ groups['server'][0] }}"

- name: Install k3s agent
  ansible.builtin.command: /tmp/k3s_install.sh
  args:
    creates: /usr/local/bin/k3s-agent
  environment:
    K3S_URL: "https://{{ hostvars[groups['server'][0]].ansible_host }}:6443"
    K3S_TOKEN: "{{ lookup('file', '/tmp/k3s_token') }}"
